<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Burger King - Food Website Template</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Free Website Template" name="keywords">
	<meta content="Free Website Template" name="description">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">
	<!-- CSS Libraries -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="~/Layout/lib/animate/animate.min.css" rel="stylesheet" />
	<link href="~/Layout/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/Layout/lib/flaticon/font/flaticon.css" rel="stylesheet" />
	<link href="~/Layout/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
	<link href="~/Client/Cart.css" asp-append-version="true" rel="stylesheet" />
	<link href="~/Layout/css/style.css" rel="stylesheet" />
</head>
<body>
	@*navar bar*@
	<partial name="_Layoutwe" />
	<div class="carousel">
		<div class="container-fluid">
			<div class="owl-carousel">
				<div class="carousel-item">
					<div class="carousel-img">
						<img src="~/Layout/img/carousel-1.jpg" alt="Image">
					</div>
					<div class="carousel-text">
						<h1>Phục vụ <span>tốt nhất</span> </h1>
						<p>
							Cho quý khách trải nghiệm phục vụ tốt nhất khi đến nhà hàng
						</p>

					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-img">
						<img src="~/Layout/img/carousel-2.jpg" alt="Image">
					</div>
					<div class="carousel-text">
						<h1>Đầu bến  <span>hạng A</span></h1>
						<p>
							Với những đầu bếp có thâm niên trong nghề
						</p>

					</div>
					
				</div>
				<div class="carousel-item">
					<div class="carousel-img">
						<img src="~/Layout/img/carousel-3.jpg" alt="Image">
					</div>
					<div class="carousel-text">
						<h1>Chất lượng món ăn <span>đảm bảo</span></h1>
						<p>
							Nguyên liệu được kiểm định rõ ràng trước khi nhập kho, bảo đảm an toàn vệ sinh thực phẩm
						</p>
						<div class="carousel-btn">
							<a class="btn custom-btn" href="">View Menu</a>
							<a class="btn custom-btn" href="">Book Table</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@RenderBody()
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="row">
						<div class="col-md-6">
							<div class="footer-contact">
								<h2>Liên lạc với chúng tôi</h2>
								<p><i class="fa fa-map-marker-alt"></i>645 đường 3/2,Quận Ninh kIều,tp Cần Thơ</p>
								<p><i class="fa fa-phone-alt"></i>0522995259</p>
								<p><i class="fa fa-envelope"></i>letranhoaibao2811@gmail.com</p>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<p>Copyright &copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
				<p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
			</div>
		</div>
	</div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="~/Layout/lib/easing/easing.min.js"></script>
	<script src="~/Layout/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="~/Layout/lib/tempusdominus/js/moment.min.js"></script>
	<script src="~/Layout/lib/tempusdominus/js/moment-timezone.min.js"></script>
	<script src="~/Layout/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
	<script src="~/Layout/mail/jqBootstrapValidation.min.js"></script>
	<script src="~/js/modal.js" asp-append-version="true"></script>
	<script src="~/Layout/mail/contact.js"></script>
	<script src="~/Layout/js/main.js"></script>
	<script src="~/lib/limonte-sweetalert2/sweetalert2.all.js"></script>
	<script src="~/Client/Giaodien.js"></script>
	@RenderSection("js", false)
</body>
</html>