@model QuanAnGiaDinh.Web.ViewModels.BanHangVM
	<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
	<div class="container">
		<h1 class="text-center">Đặt hàng ngay - giao tận nơi trong 30 phút </h1>
		<div class="row" id="_AddDatHang">
			<div class="col-md-6">
				<form id="form-dathang" data-ajax="true">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="TenKH" class="control-label">Họ và Tên</label>
						<input asp-for="TenKH" class="form-control name" />
						<span asp-validation-for="TenKH" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="DiaChi" class="control-label">Địa Chỉ</label>
						<input asp-for="DiaChi" class="form-control diachi" />
						<span asp-validation-for="DiaChi" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="SDT" class="control-label">Số Điện Thoại</label>
						<input asp-for="SDT" class="form-control sdt" />
						<span asp-validation-for="SDT" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Save" class="btn btn-primary dathang" />
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Món ăn</th>
							<th>Giá</th>
							<th>Số lượng</th>
							<th>Tùy chọn</th>
						</tr>
					</thead>
					<tbody id="load-products">

					</tbody>
				</table>
				<a style="text-decoration:none" class="fw-bold text-dark">Tổng tiền : <b class="money">09877</b>VNĐ</a>
			</div>
		</div>
	</div>
	<script src="~/lib/limonte-sweetalert2/sweetalert2.all.js"></script>
	<script src="~/jquery/jquery.js"></script>
	<script src="~/Client/DatHang.js" asp-append-version="true"></script>
