.card {
	width: 50%;
	margin: auto;
	text-align: center;
}

	.card h2 {
		margin-bottom: 20px;
	}

	.card table {
		width: 100%;
	}

		.card table thead tr th:first-child {
			text-align: left;
		}

		.card table tr td {
			border-bottom: 1px solid #ddd;
			padding: 12px 0;
		}

		.card table thead tr th:last-child {
			text-align: right;
		}

		.card table tbody tr td:last-child {
			text-align: right;
		}
/* ================== nav bar============= */
.card {
	position: fixed;
	height: 100%;
	width: 464px;
	right: 0;
	top: 0;
	background-color: #ddd;
	padding: 12px 20px;
	overflow: scroll;
	right: -100%;
	transition: 0.3s;
	z-index:1000;
}

	.card button {
		margin-top: 12px;
		height: 30px;
		padding: 0 12px;
		cursor: pointer;
		border: none;
		border-radius: 3px;
		transition: 1s;
	}

		.card button:hover {
			background-color: brown;
		}

.fa-cart-plus {
	cursor: pointer;
}

.card i {
	float: left;
	padding-left: 360px;
	cursor: pointer;
}
