
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
	<div class="mt-4 mb-4">
		<button class="btn btn-danger js-add-or-update">Thêm dữ liệu</button>
		<a class="btn btn-success" asp-action="Index" asp-controller="ChucVu">Chức vụ</a>
		<a class="btn btn-success" asp-action="Index" asp-controller="KVLamViec">Khu vực làm việc</a>
	</div>
	<div>
		<h1>Danh sách nhân viên</h1>
		<table id="tbNhanVien" class="table table-hover table-bordered w-100">
			<thead>
				<tr>
					<th>Id</th>
					<th>Họ Tên</th>
					<th>Chức vụ</th>
					<th>Khu vực làm việc</th>
					<th>Lương</th>
					<th class="fit"></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Id</th>
					<th>Họ Tên</th>
					<th>Chức vụ</th>
					<th>Khu vực làm việc</th>
					<th>Lương</th>
					<th></th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<partial name="_AddorUpdate" />
<div class="d-none js-placeholder">
	<div class="btn-group" role="group">
		<a href="#" class="btn btn-sm btn-outline-secondary">
			<i class="fa fa-fw fa-eye"></i>
		</a>
		<a href="#" class="btn btn-sm btn-outline-secondary js-add-or-update">
			<i class="fa fa-fw fa-edit"></i>
		</a>
		<a href="#" class="btn btn-sm btn-outline-secondary js-delete">
			<i class="fa fa-fw fa-trash"></i>
		</a>
	</div>
</div>
@section script
{
	<script src="~/Admin/NhanVien/NhanVien.js" asp-append-version="true"></script>
}

